.forms-container {
  width: 100%;
  min-height: 60rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;

  .index-splash-image {
    flex: 2;
    max-height: 60rem;
    max-width: 50%;
    object-fit: cover;
  }

  .login-reg-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 0.2rem solid black;

    &__btn-container {
      display: flex;

      button {
        width: 100%;
        padding: 1rem 0;
      }
    }
  }
}
