html {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 1rem;
}

*::-webkit-scrollbar-track {
  background-color: hsl(var(--color-black));
}

*::-webkit-scrollbar-thumb {
  background-color: hsl(var(--color-white));
}

ul,
li {
  list-style: none;
}

body {
  background-color: grey;
  font-size: 2rem;
  font-family: sans-serif;
  min-height: 100vh;
}

.main-container {
  margin: 0 auto;
  max-width: 70%;
}
