html {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 1rem;
}

*::-webkit-scrollbar-track {
  background-color: hsl(var(--color-black));
}

*::-webkit-scrollbar-thumb {
  background-color: hsl(var(--color-white));
}

ul,
li {
  list-style: none;
}

body {
  background-color: grey;
  font-size: 2rem;
  font-family: sans-serif;
  min-height: 100vh;
}

.main-container {
  margin: 0 auto;
  max-width: 70%;
}

.btn {
  cursor: pointer;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.4rem;
  margin: 0.5rem 0;
  
  &.light-teal {
    background-color: hsl(var(--color-primary-light-teal));
    color: hsl(var(--color-black));
  }

  &.teal {
    background-color: hsl(var(--color-primary-teal));
    color: hsl(var(--color-black));
  }

  &.dark-teal {
    background-color: hsl(var(--color-primary-dark-teal));
    color: hsl(var(--color-white));
  }

  &.darkest-teal {
    background-color: hsl(var(--color-primary-darkest-teal));
    color: hsl(var(--color-white));
  }
}
