:root {
  --color-black: 0 0% 0%;
  --color-white: 0 0% 100%;
  --color-grey: 0 0% 50%;

  --color-primary-light-teal: 180 100% 95%;
  --color-primary-teal: 176 82% 81%;
  --color-primary-dark-teal: 177 46% 47%;
  --color-primary-darkest-teal: 174 31% 19%;
}
